<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STILL HATE FRONTEND</title>
    <style>
        div {
            text-align: start;
            color: #fff;
        }
        body {
            background-color: #8a70a3; /* Dull shade of purple */
            display: flex;
            flex-direction: column; /* Change to column direction */
            align-items: center;
            padding: 20px;
            height: 100vh;
            margin: 0;
        }

        button {
            background-color: #5c487e; /* Darker shade of purple for buttons */
            color: #fff; /* White text color */
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin: 5px;
            font-size: 16px;
            width: 100%;
        }

        table {
            width: 100%;
            margin-top: 20px;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #fff; /* White border for cells */
            padding: 10px;
            text-align: left;
            color: #fff; /* White text color for cells */
        }

        @media only screen and (max-width: 600px) {
            button {
                width: auto;
            }
        }
    </style>
</head>
<body>
    <button onclick="window.location.href = '/eganam/camp/<%= campaign.id %>/info'">INFO</button>
    <button onclick="window.location.href = '/eganam/camp/<%= campaign.id %>/start'">START</button>
    <button onclick="window.location.href = '/eganam/camp/<%= campaign.id %>/stop'">STOP</button>
    <button onclick="window.location.href = '/eganam/camp/<%= campaign.id %>/delete'">DELETE</button>
    <div>
        <p>Campaign Name: <%= campaign.name %></p>
        <p>Creation Date: <%= campaign.created %></p>
        <p>Is Active: <%= campaign.active %></p>
    </div>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Organization</th>
                <th>Email Delivered</th>
                <th>Opened Email</th>
                <th>Clicked Link</th>
                <th>Submitted Password</th>
            </tr>
        </thead>
        <tbody>
            <% campaign.users.forEach(user => { %>
                <tr>
                    <td><%= user.title %></td>
                    <td><%= user.fname %></td>
                    <td><%= user.lname %></td>
                    <td><%= user.email %></td>
                    <td><%= user.org %></td>
                    <td><%= user.sent_email %></td>
                    <td><%= user.opened_email %></td>
                    <td><%= user.clicked_link %></td>
                    <td><%= user.phished %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
